@import '/src/styles/mixins.scss';

.bg {
  //background-image: url('../../../../public/images/home.png');
  background-color: #ccd4e5;
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}