@import '/src/styles/mixins.scss';

.home {
  background-image: url('.../../../../../../../public/images/home.png');
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}